# Exclude temporary build artifacts
*.o
*.a
*.so
*.dylib

# Keep the generated mock files
!MockBNO085_SPI_Library.c
!MockBNO085_SPI_Library.h

# Keep CMock and Unity runtime
!cmock.c
!cmock.h
!cmock_internals.h
!unity.c
!unity.h
!unity_internals.h
